@import 'variables';

.property__info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.property__trend {
  font-weight: bold;

  &--up {
    color: $font-green;
  }

  &--down {
    color: $font-red;
  }
}
