$font-body: "Montserrat", sans-serif;
$font-color:#FFFFFF;
$font-title-color: #333;
$background-color: #F8F9FB;
$primary-color: #365196;
$secondary-color: #2a6496;
$dashboard-color:#0f162a;
$font-subtitle-color: #8A8A8A;
$font-red:#dc2626;
$font-green: #16a34a;