@import 'variables';

.google-login-modal {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  background: $background-color;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 24px;

  .modal-header {
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 14px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .modal-content {
    padding-top: 16px;

    h2 {
      font-size: 20px;
      margin-bottom: 4px;
      font-weight: 500;
      text-align: center;
    }

    p {
      color: #5f6368;
      font-size: 14px;
      margin-bottom: 16px;
      text-align: center;
    }

    .account-option {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: #f1f3f4;
      }

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $font-color;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }

      &.other .avatar {
        background: transparent;
        color: $font-subtitle-color;
        font-size: 22px;
      }

      .account-info {
        .name {
          font-weight: 500;
        }
        .email {
          font-size: .7rem;
          color: $font-subtitle-color;
        }
      }
    }
  }
}
