.content {
  padding: 1.5rem;
  margin-top: 20px; 
  transition: margin-left 0.3s ease;
}

.sidenav-open {
  margin-left: 240px;
}

.dashboard-header {
  margin-bottom: 2rem;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
}

.dashboard-subtitle {
  color: #666;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}


.dashboard-analytics {
  display: flex;
  gap: 24px; 
  margin-top: 32px;
  margin-bottom: 32px;
}

.analytics-chart {
  flex: 2;
  min-width: 0;
}

.analytics-data {
  flex: 1;
  min-width: 0;
}


.dasboard-botton-cards{
  display: flex;
}

@media (max-width: 768px) {
  .dashboard-analytics {
    flex-direction: column;
  }
}