.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F8F9FB;

  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__menu-button {
    border: 0.5px solid #d2d2d2;
    border-radius: 5px;
    padding: 5px;
    background: none;
    cursor: pointer;
  }

  &__search-input {
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 300px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__icon,
  &__notification-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__user-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  // Media queries
  @media (max-width: 768px) {
    &__search-input {
      display: none;
    }

    &__logo {
      font-size: 1.2rem;
    }

    &__menu-button {
      display: block;
    }

    padding: 0 8px;

    &__right {
      gap: 12px;
    }
  }
}
