<app-hero></app-hero>
<div style="background-color: #F8F9FB; padding-top: 2rem;">
    <h1 class="title">Explora nuestras <br> propiedades exclusivas.</h1>
    <p class="subtitle">Las propiedades que buscás, en un solo lugar</p>
</div>

<app-carousel></app-carousel>
<app-security-calm></app-security-calm>
<div style="background-color: #F8F9FB; padding-top: 2rem;">
    <h1 class="title">Oportunidades de inversión</h1>
    <p class="subtitle">Explora Nuestra Oferta de Complejos Residenciales</p>
</div>
<app-carousel></app-carousel>
<app-footer></app-footer>