<section class="navbar">
    <div class="navbar__container">
        <div><h1>L O G O</h1></div>
        <nav class="navbar__navigation">
            <ul class="link-list">
                <li><a href="#" class="link-list__item">Inicio</a></li>
                <li><a href="#" class="link-list__item">Nosotros</a></li>
                <li><a href="#" class="link-list__item">Propiedades</a></li>
                <li><a href="#" class="link-list__item">Login</a></li>
              </ul>
              
        </nav>
    </div>
</section>
