@import 'variables';

.area-map-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 16px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
  }

  &__last-update {
    color: $font-subtitle-color;
    font-size: 0.8rem;
  }

  &__body {
    display: flex;
  }

  &__image {
    width: 100%;
    max-height: 310px;
    object-fit: cover;
  }
}
