@import 'variables';

.sales-item-container{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.sales-container-header{
  padding: 20px;
}

.sales-item {
    margin-bottom: 16px;
    padding: 0 20px 0 20px;
  }
  
  .sales-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    height: 6px;
  }
  
  .progress {
    background-color: $primary-color;
    height: 100%;
    transition: width 0.3s ease-in-out;
  }
  